body {
  background-color: orange;
  background-image: url("imgs/images34.jpeg");
  opacity: 80%;
}

h1 {
  color: blue;
  text-align: center;
}

.header-menu {
  width: 20%;
  font-size: 30px;
  float: right;
  background-color: yellow;
  border: 10px solid red;
  border-radius: 10px;
}

.form-div {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border: 10px solid red;
  background-color: pink;
  text-align: center;
  border-radius: 10px;
}

input {
  border-style: solid;
  border-radius: 5px;
  background-color: yellow;

}