.big-container {
  display: flex;
}

.main-container {
  background-color: dodgerblue;
}

.container {
  display: flex;
  width: 100%;
  /* margin-left: auto;
  margin-right: auto; */
  border-radius: 10px;
  background-color: red; 
}

.container-2 {
  width: 30%;
  height: 500px;
  background-color: yellow;

}

.container-2 div {
  height: 400px;
  background-color: white;
    border-radius: 10px;
  margin: 10px;
}

.container div{
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 24px;
  border-radius: 10px;
  gap: 10px;
}

.small-item {
  width: 200px;
  height: 150px;
}

.rest {
  width: 200px;
  height: 200px;
}

.long {
  width: 600px;
  height: 200px;
}